.welcomeContainer {
    width: inherit;
    flex: 1;
    background: #4b4c4b linear-gradient(to right, #6b99b6, #5186c3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chatContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: inherit;
    flex-direction: column;
    background-color: #89a3c6;
    //background: linear-gradient(to right, #8792bd, #5186c3);
    //background-color: #b392e4;
    padding: 10px;
    overflow-y: auto;
}

.updateMessage {
    /*align-self: flex-start;*/
}

.messageSelf {
    align-self: flex-end;
    max-width: 70%;
}

.messageNotSelf {
    align-self: flex-start;
    max-width: 70%
}

